---
- name: Criar estrutura de diretórios base
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop:
    - /opt/nic-labs/core
    - /opt/nic-labs/core/secrets
    - /opt/nic-labs/core/scripts
    - /opt/nic-labs/core/config
    - /opt/nic-labs/core/config/crowdsec

- name: Criar arquivos de segredos (Secrets)
  copy:
    content: "{{ item.content }}"
    dest: "/opt/nic-labs/core/secrets/{{ item.filename }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: '0400'
  no_log: true
  loop:
    - { filename: 'portainer_pass', content: "{{ portainer_password_hash }}" }
    - { filename: 'nicvault_admin_token', content: "{{ vault_password_escaped }}" }
    - { filename: 'postgres_root_pass', content: "{{ db_password_escaped }}" }
    - { filename: 'ocis_pass', content: "{{ ocis_admin_password }}", owner: '1000', group: '1000' } # OCIS user 1000 precisa ler

- name: Garantir diretórios de dados com permissões corretas (Fix Permission Denied)
  file:
    path: "/opt/nic-labs/core/{{ item.path }}"
    state: directory
    owner: "{{ item.uid }}"
    group: "{{ item.gid }}"
    mode: '0750'
  loop:
    # Mattermost
    - { path: 'mm_data', uid: '2000', gid: '2000' }
    - { path: 'mm_config', uid: '2000', gid: '2000' }
    - { path: 'mm_plugins', uid: '2000', gid: '2000' }
    - { path: 'mm_client_plugins', uid: '2000', gid: '2000' }

    # OCIS
    - { path: 'ocis_data', uid: '1000', gid: '1000' }
    - { path: 'ocis_config', uid: '1000', gid: '1000' }

    # UniFi
    - { path: 'unifi_config', uid: '1000', gid: '1000'}
    - { path: 'unifi_db_data', uid: '999', gid: '999'} # Mongo
    
    # Redis
    - { path: 'redis_data', uid: '999', gid: '999' }

    # Crowdsec
    - { path: 'crowdsec_db', uid: '1000', gid: '1000' }
    - { path: 'crowdsec_config', uid: '1000', gid: '1000' }

    # Postgres
    - { path: 'pg_data', uid: '999', gid: '999' }

    # Portainer
    - { path: 'portainer_data', uid: '0', gid: '0' }

    # Vaultwarden
    - { path: 'vw_data', uid: '0', gid: '0' }

    # NocoDB
    - { path: 'nc_data', uid: '1000', gid: '1000' }

    # AI
    - { path: 'ollama_data', uid: '0', gid: '0' }
    - { path: 'openwebui_data', uid: '1000', gid: '1000' }

- name: Deploy do Script de Inicialização do Postgres (SQL)
  template:
    src: init-db.sql.j2
    dest: /opt/nic-labs/core/init-db.sql
    owner: root
    group: root
    mode: '0644'

- name: Deploy do Script de Inicialização do MongoDB (JS)
  template:
    src: init-mongo.js.j2
    dest: /opt/nic-labs/core/scripts/init-mongo.js
    owner: root
    group: root
    mode: '0644'

- name: Deploy da Configuração do CrowdSec (Acquis)
  template:
    src: acquis.yaml.j2
    dest: /opt/nic-labs/core/config/crowdsec/acquis.yaml
    owner: 1000
    group: 1000
    mode: '0644'

- name: Gerar docker-compose.yml a partir do Template
  template:
    src: docker-compose.yml.j2
    dest: /opt/nic-labs/core/docker-compose.yml
    owner: root
    group: root
    mode: '0640'
  notify: Restart Containers

- name: Subir Containers (Docker Compose)
  community.docker.docker_compose_v2:
    project_src: /opt/nic-labs/core
    state: present
    pull: always
