---

- name: Forçar DNS para o Gateway pfSense
  copy:
    dest: /etc/resolv.conf
    content: |
      nameserver 10.10.10.1
      search nic-labs.com
      options edns0 trust-ad
    owner: root
    group: root
    mode: '0644'

- name: apt update
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Instalar pacotes essenciais
  apt:
    name:
      - curl
      - wget
      - git
      - htop
      - vim
      - net-tools
      - qemu-guest-agent
      - tar
      - unzip
      - software-properties-common
      - gnupg2
    state: present

- name: Configurar timezone para São Paulo
  timezone:
    name: America/Sao_Paulo

- name: Ajustar vm.max_map_count (Vital para ElasticSearch/Wazuh)
  sysctl:
    name: vm.max_map_count
    value: '262144'
    state: present
    reload: yes