---
- name: Baixar script de instalação Wazuh (All-in-One)
  get_url:
    url: https://packages.wazuh.com/4.9/wazuh-install.sh
    dest: /tmp/wazuh-install.sh
    mode: '0744'

- name: Executar instalação do Wazuh (Pode demorar ~10 min)
  shell: bash /tmp/wazuh-install.sh -a
  args:
    creates: /var/ossec/bin/wazuh-control
  register: wazuh_install_output

- name: Salvar as senhas geradas (Importante!)
  fetch:
    src: wazuh-install-files.tar
    dest: ./wazuh-passwords
    flat: yes
  when: wazuh_install_output.changed

- name: Configurar Heap Size do Indexer para 16GB (50% da RAM)
  lineinfile:
    path: /etc/wazuh-indexer/jvm.options
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - { regexp: '^-Xms', line: '-Xms16g' }
    - { regexp: '^-Xmx', line: '-Xmx16g' }
  notify: Reiniciar Indexer

- name: Impedir Swap de Memória (Performance Crítica)
  lineinfile:
    path: /etc/wazuh-indexer/opensearch.yml
    line: 'bootstrap.memory_lock: true'
  notify: Reiniciar Indexer

- name: Permitir Memlock ilimitado no Systemd
  community.general.ini_file:
    path: /usr/lib/systemd/system/wazuh-indexer.service
    section: Service
    option: LimitMEMLOCK
    value: infinity
  notify: Reiniciar Indexer

- name: Desabilitar repositórios do Wazuh (Evitar update acidental)
  replace:
    path: /etc/apt/sources.list.d/wazuh.list
    regexp: '^deb'
    replace: '#deb'