---
- name: Adicionar repositório 'multiverse' (Drivers proprietários)
  apt_repository:
    repo: "{{ item }}"
    state: present
  loop:
    - "deb http://archive.ubuntu.com/ubuntu/ noble multiverse"
    - "deb http://archive.ubuntu.com/ubuntu/ noble-updates multiverse"

- name: Atualizar cache do apt
  apt:
    update_cache: yes

- name: Instalar Driver Nvidia 535 Server (Estável para IA)
  apt:
    name:
      - nvidia-driver-535-server
      - nvidia-utils-535-server
    state: present
  register: nvidia_driver_install

- name: Adicionar chave GPG do Nvidia Container Toolkit
  get_url:
    url: https://nvidia.github.io/libnvidia-container/gpgkey
    dest: /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg
    mode: '0644'

- name: Adicionar repositório do Nvidia Container Toolkit
  apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/nvidia-container-toolkit-keyring.gpg] https://nvidia.github.io/libnvidia-container/stable/deb/amd64/ /"
    state: present
    filename: nvidia-container-toolkit

- name: Instalar Nvidia Container Toolkit (Para o Docker ver a GPU)
  apt:
    name: nvidia-container-toolkit
    state: present

- name: Configurar Docker para usar Nvidia Runtime
  shell: nvidia-ctk runtime configure --runtime=docker
  notify: Reiniciar Docker

- name: Reiniciar VM para carregar drivers de vídeo
  reboot:
  when: nvidia_driver_install.changed