---
- name: Adicionar repositório 'multiverse' (Drivers proprietários)
  apt_repository:
    repo: "{{ item }}"
    state: present
  loop:
    - "deb http://archive.ubuntu.com/ubuntu/ noble multiverse"
    - "deb http://archive.ubuntu.com/ubuntu/ noble-updates multiverse"

- name: Atualizar cache do apt
  apt:
    update_cache: yes

- name: Instalar Driver Nvidia 535 Server (Estável para IA)
  apt:
    name:
      - nvidia-driver-535-server
      - nvidia-utils-535-server
    state: present
  register: nvidia_driver_install

- name: Remover fontes duplicadas que causam erro no APT
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/sources.list.d/nvidia-container-toolkit.list
    - /etc/apt/sources.list.d/nvidia-container-toolkit-keyring.gpg
    - /etc/apt/sources.list.d/archive_ubuntu_com_ubuntu.list

- name: Baixar e converter chave GPG do Nvidia Container Toolkit (Dearmor)
  shell: |
    curl -fsSL https://nvidia.github.io/libnvidia-container/gpgkey | gpg --dearmor -o /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg --yes

- name: Configurar a lista de repositorios do Nvidia Container Toolkit com Signed-by
  shell: |
    curl -s -L https://nvidia.github.io/libnvidia-container/stable/deb/nvidia-container-toolkit.list | sed 's#deb https://#deb [signed-by=/usr/share/keyrings/nvidia-container-toolkit-keyring.gpg] https://#g' | tee /etc/apt/sources.list.d/nvidia-container-toolkit.list

- name: Atualizar cache do apt após adicionar repositório Nvidia Container Toolkit
  apt:
    update_cache: yes
    name: nvidia-container-toolkit
    state: present

- name: Configurar o runtime do Docker para usar o Nvidia Container Toolkit
  command: nvidia-ctk runtime configure --runtime=docker
  register: nvidia_config
  changed_when: "'modified' in nvidia_config.stderr"
  notify: Reiniciar Docker

- name: Reiniciar VM para carregar drivers de vídeo
  reboot:
  when: nvidia_driver_install.changed